body{
    margin: 0;
    width: 94%;
    margin: auto;
    background-color: #232741;
    font-family: 'Roboto', sans-serif;
}
/* ----------------------------nav area start----------------------------------------- */
#brand-logo{
    /* width: 18%; */
    float: left;
    text-align: center;
    padding-top: 11px;
}
#navigation{
     display: flex;
     justify-content: space-around;
}
#brand-anchor{
    text-decoration: none;
    color: tomato;
    font-family: Chaucer;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    padding: 0px 0px 0px 0px;
}
#brand-anchor:hover{
    text-decoration: none;
    color: turquoise;
    background: none;
    box-shadow:none;
    
}
#nav-ul{
    /* width: 60%; */
    float: left;
    /* margin-left: 1%; */
    text-align: center;
   }
ul {
    list-style: none;
    padding:0px 0px 0px 0px;
    margin: 20px 0px 20px 0px;
}
li{
    display: inline;
    padding:0px 0px 0px 0px;
    margin: 0px 0px 0px 0px; 
    border: 1px solid transparent;
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: #03e9f4;
    padding:13px 13px 13px 13px;
    border: 1px solid transparent;
    text-transform: uppercase;
    border-radius: 3px;
    transition: 0.5s;
    letter-spacing: 1px;
}
a:hover{
    text-decoration: none;
    background-color: #03e9f4;
    color: #232741;
    box-shadow: 0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 20px #03e9f4,
                0 0 40px #03e9f4;
}
#button-ul {
    /* width: 20%; */
    overflow: hidden;
    /* margin-right: 1%; */
    text-align: center;
}
#button-li{
    color: #232741;
    background: #03e9f4;
    box-shadow: 0 0 1px #03e9f4,
                0 0 2px #03e9f4,
                0 0 4px #03e9f4,
                0 0 8px #03e9f4;
}
#button-li:hover{
    color: #03e9f4;
    background:#232741;
    box-shadow:none;
}
nav{
    box-shadow: 0px 2px 0px #03e9f4;
   
}
/* ----------------------------nav area end----------------------------------------- */
/* ----------------------------profile picture start-------------------------------- */
.flex-container {
    display: flex;
    justify-content: center;
}
 .profile-pic{
     width: 90%;
     border: 2px solid #03e9f4;
     margin-top: 30px;
     margin-bottom: 30px;
     opacity: 0.7;
   
 }
 .profile-pic:hover{
     transform: scale(1.02);
     opacity: 1;
     transition: 0.5s;
     box-shadow: 0 0 5px #03e9f4,
                0 0 10px #03e9f4,
                0 0 20px #03e9f4,
                0 0 40px #03e9f4;
    }
    /* ----------------------------profile picture end-------------------------------- */
    /* ----------------------------social media start--------------------------------- */
    #social-media{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
        min-height: 420px;
        align-items: center;
        justify-content: space-around;       
    }
    .fa{
        font-size: 30px;
        border-radius: 50%;
       
    }
    #facebook{
        width: 55px;
        height: 55px;
        border-radius: 50%;
        text-align: center;  
    }
    .fa:hover{
        border-radius: 50%;
        transform: scale(1.3);
    }
     /* ----------------------------social media end--------------------------------- */
     /* ----------------------------text area start--------------------------------- */
.some-text{
    margin-top: 30px;
}
h3{
    text-transform: capitalize;
    color: #03e9f4;
    margin: 30px 10px 10px 30px;
    font-size: 32px;
}
#name-id{
    text-transform: uppercase;
    font-style: italic;
    color: tomato;
    font-size: 35px;
}
#name-id:hover{
   
    color: #03e9f4;
}
h4{
   color: #03e9f4;
   margin: 30px 10px 10px 30px;
}
p{
   color: #32a4a8;
   text-align: justify;
   margin: 30px 35px 10px 30px;
}
.button{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}
footer{
    width: 100%;
     text-align: center;
     border-top: 2px solid #03e9f4;
     display: flex;
     justify-content: center;
}
#last-p{
    text-align: center;
    margin: 1px;
    color: #3a5557;
   
}
.last-button{
   border: 2px solid;
   border-radius: 4px;
}
.last-button:hover{
   border-color: #03e9f4;
   box-shadow: 0 0 10px #03e9f4,
                0 0 20px #03e9f4,
                0 0 40px #03e9f4,
                0 0 80px #03e9f4;
}
/* ----------------------------text area start--------------------------------- */
/* ----------------------------text area start--------------------------------- */
@media all and (max-width: 580px) {
    #social-media {
        display: flex;
        flex-direction: row;
        min-height: 50px;
        align-items: center;
        justify-content: space-around;
        
    }
    .fa {
        font-size: 20px;

    }
    .nav-list{
        font-size: 14px;
    }
       
}
@media all and (min-width: 500px) {
    h3 {
        font-size: 25px;
    }

    #name-id {
        
        font-size: 30px;
    }
       #social-media {
           display: flex;
           flex-direction: row;
           min-height: 50px;
           align-items: center;
           justify-content: space-around;

       }

       .fa {
           font-size: 20px;               
}
.nav-list {
    font-size: 14px;
}
}